In [1]:
import pandas as pd
df = pd.read_csv('HGEN8341_finalproject_data.txt', sep='\t')

In [2]:
df.head()

,ID,status,rs555599246,rs534396879,rs116742944,rs138086069,rs535042364,rs149361586,rs6139892,rs539660332,...,rs573290396,rs562245681,rs6133388,rs573944939,rs79146750,rs149592753,rs577761377,rs6140157,rs185180844,rs527420293
0,NA06984,case,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,0/0
1,NA06986,case,0/0,0/0,0/0,0/0,0/0,0/1,1/1,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,0/0
2,NA06989,case,0/0,0/0,0/0,0/0,0/0,0/0,0/1,0/0,...,0/0,0/0,0/1,0/0,0/0,0/0,0/0,1/1,0/0,0/0
3,NA07000,case,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,0/0
4,NA07037,case,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,...,0/0,0/0,0/0,0/0,0/1,0/0,0/0,1/1,0/0,0/0

In [4]:
'0/0'.split('/')

['0', '0']

In [5]:
df.shape

(150, 28746)