In [1]:
import pandas as pd
df = pd.read_csv('HGEN8341_finalproject_data.txt', sep='\t')

In [2]:
df.head()

,ID,status,rs555599246,rs534396879,rs116742944,rs138086069,rs535042364,rs149361586,rs6139892,rs539660332,...,rs573290396,rs562245681,rs6133388,rs573944939,rs79146750,rs149592753,rs577761377,rs6140157,rs185180844,rs527420293
0,NA06984,case,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,0/0
1,NA06986,case,0/0,0/0,0/0,0/0,0/0,0/1,1/1,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,0/0
2,NA06989,case,0/0,0/0,0/0,0/0,0/0,0/0,0/1,0/0,...,0/0,0/0,0/1,0/0,0/0,0/0,0/0,1/1,0/0,0/0
3,NA07000,case,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,...,0/0,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,0/0
4,NA07037,case,0/0,0/0,0/0,0/0,0/0,0/0,1/1,0/0,...,0/0,0/0,0/0,0/0,0/1,0/0,0/0,1/1,0/0,0/0

In [4]:
df[['rs6139892']]

    rs6139892
0         1/1
1         1/1
2         0/1
3         1/1
4         1/1
..        ...
145       1/1
146       1/1
147       1/1
148       1/1
149       1/1

[150 rows x 1 columns]

In [7]:
print((df[['rs6139892']]=='1/1').sum())
print((df[['rs6139892']]=='0/1').sum())
print((df[['rs6139892']]=='0/0').sum())

rs6139892    111
dtype: int64
rs6139892    29
dtype: int64
rs6139892    10
dtype: int64

In [10]:
alt_af = (111*2+29)/300
alt_af

0.8366666666666667

In [12]:
obs_00 = 10
obs_01 = 29
obs_11 = 111
exp_00 = 150*(1-alt_af)**2
exp_01 = 150*2*alt_af*(1-alt_af)
exp_11 = 150*alt_af**2
print(obs_00, obs_01, obs_11)
print(exp_00, exp_01, exp_11)

10 29 111
4.001666666666666 40.99666666666666 105.00166666666667

In [13]:
x_squared = ((obs_00-exp_00)**2)/exp_00 + ((obs_01-exp_01)**2)/exp_01 + ((obs_11-exp_11)**2)/exp_11
print(x_squared)

12.844445174875121

In [14]:
from scipy.stats import chisquare
from scipy.stats import chi2

In [17]:
chi2.sf(x_squared, df=1)

0.0003384825581878985

In [19]:
chisquare(f_obs=[obs_00,obs_01,obs_11], f_exp=[exp_00,exp_01,exp_11], ddof=1)[1]

0.0003384825581878985

In [22]:
chisquare(f_exp=[105.00166667,40.99666667,4.00166667] , f_obs=[ 10,29,111], ddof=1)

Power_divergenceResult(statistic=2950.4333232376107, pvalue=0.0)

In [23]:
[exp_00,exp_01,exp_11]

[4.001666666666666, 40.99666666666666, 105.00166666666667]